@font-face {
  font-family: Minecraftia;
  src: url(minecraftia.ttf);
}
h1 {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;

  text-shadow: 4px 4px 0 rgb(0 0 0 / 0.5);

  font-family: Minecraftia;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
body {
  background-color: #52bdff;
  background-image: url("redcat.png");
  background-size: 30%;
  background-position: center;
}
