@font-face {
  font-family: Minecraftia;
  src: url(fonts/minecraftia.ttf);
}
h1 {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;

  text-shadow: 4px 4px 0 rgb(0 0 0 / 0.5);

  font-family: Minecraftia;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

#shockedsteve {
  color: #52bdff;
}

mark {
  background-color: #b4281e;
  color: #000000;
}

body {
  background-color: #52bdff;
  background-image: url("images/redcat.png");
  background-size: 30%;
  background-position: center;

  /*font-weight: normal;*/
  /*font-family: Minecraftia;*/
}
